.attribution {
    font-size: 10px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
:root{
    --primary-red:hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue:hsl(212, 86%, 64%);


    --gray: hsl(234, 12%, 34%);
    --grayish: hsl(229, 6%, 66%);
    --very_light_gray: hsl(0, 0%, 98%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--grayish);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very_light_gray);

}
.header{
    text-align: center;
    margin-top: 6.5rem;
    width: calc(80vw - 13px);
}
.header-title{
    color: var(--gray);
}
.header-title, .header-pre-title{
    font-size: 2rem;
}
.header-text{
    margin-top: 1.5rem;
    font-size: 1.4rem;
}
text{
    font-weight: 200;
}
.card{
    width: 80vw;
    min-height: 18vh;
    margin: 1.3rem;
    border-radius: 6px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 5px var(--gray)
}
.card-cyan{
    border-top: 6px solid var(--primary-cyan);
}
.card-red{
    border-top: 6px solid var(--primary-red);
}
.card-orange{
    border-top: 6px solid var(--primary-orange);
}
.card-blue{
    border-top: 6px solid var(--primary-blue);
}
.card-text__container > h1,h2,h3,h3,h5,h6{
    color: var(--gray);
}
.card-img__section{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.2rem;
}
.image-container{
    width: 64px;
    height: 64px;
}
.image-container > img{
    width: 100%;
    height: 100%;
}